

body, html {
    margin: 0;
    padding: 0;
}
body {
    background: #ffffff none repeat scroll 0 0;
    color: #5d7073;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: 100%;
    line-height: 1.5;
    width: 100%;
}
.header_img {
    background-repeat: no-repeat;
    margin: 70px 0 0 35px;
    position: fixed;
        z-index: 11;
}
.menu_container {
    left: 35px;
    line-height: 165%;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 200px;
    z-index: 12;
}
.menu_container a {
    font-size: 11px;
    padding: 2px 3px;
    text-decoration: none;
}
.sub_menu {
	margin: 0 0 0 35px;
}
.menu_link a {
    color: #8ea39e;
}
.menu_link a:hover {
    background: #ffffff none repeat scroll 0 0;
    color: #5d7073;
}
.menu_link a:active {
    background: #ffffff none repeat scroll 0 0;
    color: #5d7073;
}
.content_container {
    padding: 70px 0 0 270px;
    position: relative;
    width: 705px;
    z-index: 10;
}
.maincontainer {
    display: none;
    margin: 0 0 35px;
    width: 705px;
}
.main_container img {
    margin: 0 15px 15px 0;
}
.project_thumb {
	cursor: pointer;
    float: left;
    margin: 0 35px 35px 0;
    position: relative;
    text-align: center;
}
